@{
    string user = string.Empty;
    HttpCookie cookie = Request.Cookies["jlgl_user"];
    if (cookie != null)
    {
        user = cookie.Value;
    }
    else
    {
        Response.Redirect("/Admin/Account/Login");
    }
    var modulelist = new Smart.Framework.BLL.Module().FindALLParent();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>树道网站管理后台</title>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <!--分页-->
    <link href="~/Scripts/jBootstrapPage/jBootsrapPage.css" rel="stylesheet" />
    <script src="~/Scripts/jBootstrapPage/jBootstrapPage.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Script/pine/style.css" />
    <script type="text/javascript" src="~/Areas/Admin/Script/pine/ddaccordion.js"></script>
    @Styles.Render("~/Scripts/kendoui/styles/kendo.common.min.css")
    @Styles.Render("~/Scripts/kendoui/styles/kendo.default.min.css")
    @Scripts.Render("~/Scripts/kendoui/js/kendo.web.min.js")
    @Scripts.Render("~/Scripts/kendoui/console.js")
    <link href="~/Scripts/plugin/Zebra_Dialog/public/css/flat/zebra_dialog.css" rel="stylesheet" />
    <script src="~/Scripts/plugin/Zebra_Dialog/public/javascript/zebra_dialog.js"></script>
    <script type="text/javascript">
        ddaccordion.init({
            headerclass: "submenuheader", //Shared CSS class name of headers group
            contentclass: "submenu", //Shared CSS class name of contents group
            revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
            mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
            collapseprev: true, //Collapse previous content (so only one open at any time)? true/false
            defaultexpanded: [], //index of content(s) open by default [index1, index2, etc] [] denotes no content
            onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
            animatedefault: false, //Should contents open by default be animated into view?
            persiststate: true, //persist state of opened contents within browser session?
            toggleclass: ["", ""], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
            togglehtml: ["suffix", "<img src='/Areas/Admin/Script/pine/images/plus.gif' class='statusicon' />", "<img src='/Areas/Admin/Script/pine/images/minus.gif' class='statusicon' />"], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
            animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
            oninit: function (headers, expandedindices) { //custom code to run when headers have initalized
                //do nothing
            },
            onopenclose: function (header, index, state, isuseractivated) { //custom code to run whenever a header is opened or closed
                //do nothing
            }
        })
    </script>

    <link href="~/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
    <script src="~/umeditor/umeditor.config.js"></script>
    <script src="~/umeditor/umeditor.js"></script>
    <script src="~/umeditor/lang/zh-cn/zh-cn.js"></script>
    @*<script type="text/javascript" src="~/Areas/Admin/Script/pine/jconfirmaction.jquery.js"></script>*@
    @*<script type="text/javascript">
            $(document).ready(function () {
                $('.ask').jConfirmAction();
            });
        </script>*@
    @*<script language="javascript" type="text/javascript" src="~/Areas/Admin/Script/pine/niceforms.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="~/Areas/Admin/Script/pine/niceforms-default.css" />*@
</head>
<body>
    <div id="main_container">
        <div class="header">
            <div class="logo"><h1 style="color:#0094ff">树道网站管理后台</h1></div>
            <div class="right_header">Welcome, <a href="#" title="Logged in as admin">@user</a>|<a href="/Home">Visit site</a> | <a href="/Admin/Account/Logout" class="logout">Logout</a> |<a href="/Admin/Account/ChangePassWord">更改密码</a></div>
            <div id="clock_a"></div>
        </div>
        <div class="main_content">
            <div class="menu">
                <ul>
                    <li><a class="current" href="/Admin/Home/">管理首页</a></li>
                    <li>
                        <a href="/Admin/Product">产品管理</a>
                        <ul>
                            <li><a href="/Admin/Product">产品信息</a></li>
                            <li><a href="/Admin/Product/Add">发布产品信息</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Admin/Job">招聘管理</a>
                        <ul>
                            <li><a href="/Admin/Job">招聘信息</a></li>
                            <li><a href="/Admin/Job/JobAdd">发布招聘信息</a></li>
                            <li><a href="/Admin/Resume">在线简历</a></li>
                        </ul>
                    </li>
                    @*<li><a href="">客户管理</a></li>*@
                    <li>
                        <a href="/Admin/FileUpload">资料管理</a>
                        <ul>
                            <li><a href="/Admin/FileUpload" title="资料信息">资料列表</a></li>
                            <li><a href="/Admin/FileUpload/Add" title="资料信息">上传资料</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">系统设置<!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <ul>
                            <li><a href="/Admin/SystemInfo/BasicSetting">基本设置</a></li>
                            <li><a href="/Admin/AdminUser" title="用户管理">用户管理</a></li>
                            <li><a href="/Admin/Staff" title="员工管理">员工管理</a></li>
                            <li><a href="/Admin/Online">在线用户</a></li>
                            <li><a href="/Admin/Flash/">Flash背景图片</a></li>
                            <li><a href="/Admin/Logo">企业Log设置</a></li>
                            @*<li><a href="#">系统日志</a></li>
                                <li><a href="#">流量信息</a></li>*@
                        </ul>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                    <li>
                        <a href="/Admin/About/AddAbout">联系我们</a>
                        <ul>
                            <li><a href="/Admin/About">公司简介</a></li>
                            <li><a href="/Admin/AppointmentClass">预约管理</a></li>
                            <li><a href="/Admin/Resume">简历中心</a></li>
                            <li><a href="/Admin/Feedback">在线反馈</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="center_content">
                <div class="left_content">
                    <div class="sidebar_search">
                        <form>
                            <input type="text" name="" class="search_input" value="search keyword" onclick="this.value=''" />
                            <input type="image" class="search_submit" src="~/Areas/Admin/Script/pine/images/search.png" />
                        </form>
                    </div>
                    <div class="sidebarmenu">
                        @foreach (Smart.Framework.Model.ModuleInfo item in modulelist)
                        {
                            <a class="menuitem submenuheader" href="">@item.parentname</a>
                            <div class="submenu">
                                <ul>
                                    @foreach (var child in item.list)
                                    {
                                        <li><a href="@child.adminurl" target="_self">@child.name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        <a class="menuitem submenuheader" href="#">系统类别管理</a>
                        <div class="submenu">
                            <ul>
                                <li><a href="/Admin/NewsType" target="_self">新闻类别</a></li>
                                <li><a href="/Admin/Category" target="_self">产品类别</a></li>
                                <li><a href="/Admin/Module" target="_self">菜单设置</a></li>
                            </ul>
                        </div>
                        <a class="menuitem_red" href="/Admin/Online" target="_self">在线客服</a>
                    </div>
                    <div class="sidebar_box">
                        @*<div class="sidebar_box_top"></div>
                            <div class="sidebar_box_content">
                                <h5>今日重要日志</h5>
                                <img src="~/Areas/Admin/Script/pine/images/notice.png" alt="" title="" class="sidebar_icon_right" />
                                <ul>
                                    <li>今日预约人数<b>8</b>人</li>
                                    <li> 系统错误日志<b>0</b>条</li>
                                    <li>今日总访问量<b>0</b>次</li>
                                </ul>
                            </div>
                            <div class="sidebar_box_bottom"></div>*@
                    </div>
                    @*<div class="sidebar_box">
                                <div class="sidebar_box_top"></div>
                                   <div class="sidebar_box_content">
                                       <h3>访客留言</h3>
                                       <img src="~/Areas/Admin/Script/pine/images/info.png" alt="" title="" class="sidebar_icon_right" />
                                       <p>
                                       </p>
                                   </div>
                                   <div class="sidebar_box_bottom"></div>
                                                </div>
                                                <div class="sidebar_box">
                                                    <div class="sidebar_box_top"></div>
                                                    <div class="sidebar_box_content">
                                                        <h5>今日下载排行</h5>
                                                        <img src="~/Areas/Admin/Script/pine/images/photo.png" alt="" title="" class="sidebar_icon_right" />
                                                        <p>

                                                        </p>
                                                    </div>
                                                    <div class="sidebar_box_bottom"></div>
                        </div>*@
                </div>
                <div class="right_content">
                    @RenderBody()
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="footer">
            <div class="left_footer">IN ADMIN PANEL | Powered by <a href="/Home">上海树道国际咨询有限公司</a>|<a href="#"><strong> ChinaZ站长统计</strong></a></div>
        </div>
    </div>
</body>
</html>
