@{
    List<Smart.Framework.Model.sd_online> qqlist = new List<Smart.Framework.Model.sd_online>();
    qqlist = new Smart.Framework.BLL.Online().FindALL().ToList();
}
<!DOCTYPE html>
<html lang="zh-CN" class="html_stretched responsive  html_header_top html_logo_left html_main_nav_header html_menu_right html_large html_header_sticky html_header_shrinking html_header_topbar_active html_mobile_menu_tablet html_header_mobile_behavior html_entry_id_1040  avia_desktop  js_active  avia_transform  avia_transform  csstransforms csstransforms3d csstransitions avia-webkit avia-webkit-39 avia-windows" id="ls-global">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>树道国际咨询,企业培训，内训</title>
    <link rel="icon" href="~/Icon.png" type="image/png">
    <!-- mobile setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Scripts/CSS and wp_head hook -->
    <meta name="robots" content="noodp,noydir">
    <meta name="description" content="树道培训, 企业顶层设计，商业登顶之道，最佳商业模式等培训课程。树道国际咨询-中国企业培训咨询领导品牌！">
    <meta name="keywords" content="树道培训, 企业顶层设计，商业登顶之道，最佳商业模式等培训课程">
    <link rel="canonical" href="#">
    <!-- seo end. -->
    <link id="google_webfont_1" rel="stylesheet" type="text/css" href="http://fonts.useso.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet" id="dashicons-css" href="~/Content/dashicons.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="thickbox-css" href="~/Content/thickbox.css" type="text/css" media="all">
    <link rel="stylesheet" id="wpdm-front-css" href="~/Content/front.css" type="text/css" media="all">
    <link rel="stylesheet" id="avia-grid-css" href="~/Content/grid.css" type="text/css" media="all">
    <link rel="stylesheet" id="avia-base-css" href="~/Content/base.css" type="text/css" media="all">
    <link rel="stylesheet" id="avia-layout-css" href="~/Content/layout.css" type="text/css" media="all">
    <link rel="stylesheet" id="avia-scs-css" href="~/Content/shortcodes.css" type="text/css" media="all">
    <link rel="stylesheet" id="avia-custom-css" href="~/Content/custom.css" type="text/css" media="all">
    <link rel="stylesheet" id="avia-prettyP-css" href="~/Content/prettyPhoto.css" type="text/css" media="screen">
    <link rel="stylesheet" id="avia-media-css" href="~/Content/mediaelementplayer.css" type="text/css" media="screen">
    <link rel="stylesheet" id="avia-print-css" href="~/Content/print.css" type="text/css" media="print">
    <link rel="stylesheet" id="avia-dynamic-css" href="~/Content/enfold_share_on_theme123.net.css" type="text/css" media="all">
    <link rel='stylesheet' id='layerslider-css' href='~/Content/LayerSlider/static/css/layerslider.css' type='text/css' media='all' />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/cmp_style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <meta name="generator" content="WordPress 3.8.3" />


    <script language="JavaScript"> <!-- jQuery(function(){jQuery('.wpdm-popup').click(function(){tb_show(jQuery(this).html(),this.href+'&modal=1&width=600&height=400');return false; });})//--></script>
    <!--[if lt IE 9]><script src="~/Scripts/html5shiv.min.js"></script><![endif]-->
</head>
<body id="top" class="home page page-id-1040 page-template-default stretched open_sans ">
    <div id='wrap_all'>
        @Html.Partial("_Menu")<div id='main' data-scroll-offset='116'>@RenderBody() @Html.Partial("_Footer") </div> @RenderSection("scripts", required: false)<a href="#top" title="回到顶部" id="scroll-top-link" aria-hidden="true" data-av_icon="↑" data-av_iconfont="entypo-fontello" class="avia_pop_class"></a>
        @*<script type="text/javascript">window.onload = function () {if (window.applicationCache)return null; elsealert("不支持html5");}</script>*@
        @*<div
            > <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1000378853'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1000378853%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </div><div class="clear"></div>
                       </div>*@
        <div class="suspend">
            <dl>
                <dt class="IE6PNG"></dt>
                <dd class="suspendQQ">
                    @foreach (var item in qqlist)
                    {
                        string tg = "tencent://message/?uin=" + item.qq + "&Site=qq&Menu=yes"; string sc = ("+http://wpa.qq.com/pa?p=1:" + item.qq + ":4+").TrimStart('+').TrimEnd('+');<a target=blank href="@tg"><img border="0" src="@sc" alt="@item.name" />@item.name</a>} @if (qqlist.Count() < 5)
                        {
                            for (int i = 0; i < 5 - qqlist.Count(); i++)
                            { <a></a>}
                        }
                    </dd>
                </dl>
            </div>
        </div>

        <script type="text/javascript">$(function () { $(".suspend").mouseover(function () { $(this).stop(); $(this).animate({ width: 125 }, 400); }); $(".suspend").mouseout(function () { $(this).stop(); $(this).animate({ width: 40 }, 400); }); }); </script>
        <link href="~/Content/qqcontact.css" rel="stylesheet" />
        @*<script type='text/javascript' src='~/Scripts/jquery-migrate.min.js?ver=1.2.1'></script>*@
        @*<script type='text/javascript' src='~/Scripts/avia-compat.js?ver=1'></script>
            <script type='text/javascript' src='~/Content/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js?ver=5.1.1'></script>
            <script type='text/javascript' src='~/Content/LayerSlider/static/js/greensock.js?ver=1.11.2'></script>
            <script type='text/javascript' src='~/Content/LayerSlider/static/js/layerslider.transitions.js?ver=5.1.1'></script>*@
        <script type='text/javascript' src='~/Scripts/jquery-migrate.min.js'></script>
        <script type='text/javascript' src='~/Scripts/avia-compat.js'></script>
        <script type='text/javascript' src='~/Content/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js'></script>
        <script type='text/javascript' src='~/Content/LayerSlider/static/js/greensock.js'></script>
        <script type='text/javascript' src='~/Content/LayerSlider/static/js/layerslider.transitions.js'></script>
        <script type='text/javascript' src="~/Scripts/html5shiv.js"></script>
        <script type='text/javascript' src="~/Scripts/respond.js"></script>
        <script type='text/javascript' src="~/Scripts/bootstrap.min.js"></script>
        <script type='text/javascript' src="~/Scripts/editor.js"></script>
        <script type='text/javascript' src="~/Scripts/avia.js"></script>
        <script type='text/javascript' src="~/Scripts/shortcodes.js"></script>
    </body>
</html>
