@{
    var Smart_About = ViewBag.Smart_About;
    var Smart_Product = ViewBag.Smart_Product;
    var Smart_Case = ViewBag.Smart_Case;
}
<!-- Banner -->
<section id="banner">
    <div>
    </div>
</section>
<!-- Main -->
<section id="main" class="container">
    @*<section style="padding-top: 18%"></section>*@
    <section class="box special">
        <header class="major">
            <h3>
                关于争光教育集团
            </h3>
            @if (Smart_About != null && string.IsNullOrEmpty(Smart_About[0].shortDesc))
            {
                <p>新常态召唤新生态，新生态孕育新生代，新生代引领新时代！争光教育集团是集新生代创业培训、项目招商、海外游学于一体的新生代创业平台。争光教育集团总部位于名校云集的美国波士顿，其运营中心设立于中国上海中欧商学院旁。我们的愿景是打造全球最具影响力的新生代平台；我们秉承正念、利他、自信、激情的企业价值观，希望让所有的新生代在时代的浪潮中突破自我，为家族争光！</p>
                <ul>
                    <li>企业定位：新生代创业服务平台</li>
                    <li>企业愿景：打造全球最具影响力的新生代平台</li>
                    <li>企业使命：让所有新生代为家族争光</li>
                    <li>企业价值观：正念、利他、自信、激情</li>
                </ul>
            }
            else
            {
                <p> @Smart_About[0].shortDesc </p>
            }

        </header>
    </section>

    <!--项目-->
    <section class="box special features">
        <h3>产品介绍</h3>
        <div class="features-row">
            @if (Smart_Product.Count > 0)
            {
                int count = 2;
                for (int i = 0; i <= Smart_Product.Count; i++)
                {
                    string css = "accent" + (++count).ToString();
                    if (i % 2 == 0 && i != 0)
                    {
                        string css1 = "accent" + (count - 2).ToString();
                        string css2 = "accent" + (count - 1).ToString();
                        <div class="features-row">
                            <section>
                                <span class="icon major fa-bolt @css1"></span>
                                <a href="/product_detail.html?id=@Smart_Product[i-1].id"> <h3>@Smart_Product[i - 1].title</h3></a>
                                <p>@Smart_Product[i - 1].keywords</p>
                            </section>
                            <section>
                                <span class="icon major fa-bolt @css2"></span>
                                <a href="/product_detail.html?id=@Smart_Product[i-2].id"> <h3>@Smart_Product[i - 2].title</h3></a>
                                <p>@Smart_Product[i - 2].keywords</p>
                            </section>
                        </div>
                    }
                    else if (i == Smart_Product.Count)
                    {
                        <div class="features-row">
                            <section>
                                <a href="/product_detail.html?id=@Smart_Product[i-1].id">
                                    <span class="icon major fa-bolt @css"></span>
                                </a>
                                <a href="/product_detail.html?id=@Smart_Product[i-1].id"> <h3>@Smart_Product[i - 1].title</h3></a>
                                <p>@Smart_Product[i - 1].keywords</p>
                            </section>
                        </div>
                    }

                }
            }
            else
            {
                <p>暂无数据...</p>
            }
        </div>
    </section>
    <section class="box special features">
        <h3>客户案例</h3>
    </section>
    <!--案例-->
    <div class="row">
        @foreach (var item in Smart_Case)
        {
            <div class="6u 12u(narrower)">
                <section class="box special">
                    <span class="image featured"><img src="@item.imgurl" alt="" /></span>
                    <h3>@item.title</h3><p></p>
                    <a class="button alt" href="/case_detail.html?id=@item.id">了解更多...</a>
                </section>
            </div>
        }
    </div>
</section>
<!-- CTA -->
<section id="cta">
    <h3>在线报名</h3>
    <form>
        <div class="row uniform 50%">
            <div class="8u 12u(mobilep)">
                <input type="email" name="email" id="email" placeholder="Email Address" />
            </div>
            <div class="4u 12u(mobilep)">
                <input type="submit" value="登录" class="fit" />
            </div>
        </div>
    </form>
</section>