@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Smart.Framework.Model.sd_product> list = new List<Smart.Framework.Model.sd_product>();
    if (ViewData["product"] != null)
    {
        list = ViewData["product"] as List<Smart.Framework.Model.sd_product>;
    }
}
<section style="padding-top: 18%"></section>
<section id="main" class="container">
    <header>
        <h2>产品中心</h2>
        <p>名家名师汇聚一堂，为企业家们带来思想上的饕餮盛宴！</p>
    </header>
    <section class="box special features" id="prodct_list">
        <div class="features-row">
            @if (list.Count > 0)
            {
                int count = 2;
                for (int i = 0; i <= list.Count; i++)
                {
                    string css = "accent" + (++count).ToString();
                    if (i % 2 == 0 && i != 0)
                    {
                        string css1 = "accent" + (count - 2).ToString();
                        string css2 = "accent" + (count - 1).ToString();
                        <div class="features-row">
                            <section>
                                <span class="icon major fa-bolt @css1"></span>
                                <a href="/Product/Detail?id=@list[i - 1].id"> <h3>@list[i - 1].title</h3></a>
                                <p>@list[i - 1].keywords</p>
                            </section>
                            <section>
                                <span class="icon major fa-bolt @css2"></span>
                                <a href="/Product/Detail?id=@list[i - 2].id"> <h3>@list[i - 2].title</h3></a>
                                <p>@list[i - 2].keywords</p>
                            </section>
                        </div>
                    }
                    else if (i == list.Count)
                    {
                        <div class="features-row">
                            <section>
                                <a href="/product_detail.html?id=@list[i - 1].id">
                                    <span class="icon major fa-bolt @css"></span>
                                </a>
                                <a href="/Product/Detail?id=@list[i - 1].id"> <h3>@list[i - 1].title</h3></a>
                                <p>@list[i - 1].keywords</p>
                            </section>
                        </div>
                    }

                }
            }
            else
            {
                <p>暂无数据...</p>
            }
        </div>
    </section>
</section>
